.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to top, #d299c2 0%, #fef9d7 100%);
}
.appHeader {
  background-color: #d299c2;
  color:#fef9d7;
  height: 90px;
  padding: 30px;
  margin-bottom: 2rem;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.search-form {
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color:  #d299c2;
  border: solid 2px  #d299c2;
  border-radius: 3px;
  transition: .4s;
  align-items: right;
}

.search-button:hover {
  background:  #d299c2;
  color: white;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipeButtons {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: rgb(203, 177, 134);
  background: #f9d6fa;
  border-bottom: solid 4px  #d299c2;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}

.recipeButtons:hover {
  background: #f2dfbd;
  color: #FFF;
}

